modules = ["nodejs-20", "python-3.12"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Run Both"

[[workflows.workflow]]
name = "Run Both"
author = 45709768
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Run Backend"
author = 45709768
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Run Frontend"
author = 45709768
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd appgaming && npm run start"



[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd appgaming && expo start --web --host 0.0.0.0 --port 8082"


[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd appgaming && expo start --web --host 0.0.0.0 --port 8082"


[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd appgaming && npm run web"




