modules = ["nodejs-20", "python-3.12"]
run = "node index.js"

[nix]
channel = "stable-25_05"
packages = ["upspin"]

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Expo Mobile Dev"

[[workflows.workflow]]
name = "Expo Start"
author = 45811791
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Expo Mobile Dev"
author = 45811791
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npx expo start --host lan --port 8081 --clear"







